[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "factorial2x2"]
	path = factorial2x2
	url = https://github.com/cran/factorial2x2
